<h1 id="title">Id Room: {{room.id}}</h1>
<div class="global">
    <div>
        <p-card class="playerList" header="Waiting Room" class="cardWaiting">
            @for (player of room.playerList; track room; let idx = $index) {
                @if (idx!==playerList.length && idx!==0) {
                    <p-divider id="divider" layout="horizontal"></p-divider>
                    }
                <div>{{ player.pseudo }}</div>} 
            @empty {<div>There are no items.</div>}
        </p-card>
        <div>
            <p-button>Rejoindre</p-button>
        </div>
    </div>