

#image-back{
    z-index: 0.5;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%); /* Centers the div */
  background-color: rgba(255, 255, 255, 0.5); /* Optional background */
  padding: 10px;
  border-radius: 5px;
  text-align: center;

}
img {
    display: block; /* Ensures the image doesn't have extra space below it */
    width: 100%; /* Make sure the image scales if needed */
    height: auto; /* Maintain the aspect ratio */
  }
#center{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#global{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
