@if(room.status===gameStatus.WAITING||room.status===gameStatus.FULL){
<app-waiting-room-page [room]="room"></app-waiting-room-page>
}
<div id="global">
    <div id="leftElement">
        <app-upgrade></app-upgrade>
    </div>
    <div id="rightElement">
        <app-other-players></app-other-players>
    </div>
    <div id="centerElement">
        <app-stat-display></app-stat-display>
        <div (click)="addClicker()">click Zone !! </div>
        <app-quizz [currentQuestion]="question" [answers]="answers"></app-quizz>
    </div>
</div>