<div class="global">
    @for(otherPlayers of playerList; track otherPlayers; let idx = $index;) {
        @if(otherPlayers.id !== playerId){
            <p-card header={{otherPlayers.pseudo}}>
                <div>score: {{otherPlayers.score}}</div>
                <div>temperature: {{otherPlayers.temperature}}</div>
                <div>salinity: {{otherPlayers.salinity}}</div>
                <div>coral: {{otherPlayers.coral}}</div>
                <div>salinity: {{otherPlayers.salinity}}</div>
                <div>waste: {{otherPlayers.waste}}</div>
                <div>marinaFauna: {{otherPlayers.marinaFauna}}</div>
                <div>acidity: {{otherPlayers.acidity}}</div>
            </p-card>
        }
        } @empty {
        <li>There are no items.</li>
        }
</div>
